/** This is our main LESS variables file **/
/**************/
/* Typography */
/**************/
/**********/
/* Colors */
/**********/
/*******************/
/* Global elements */
/*******************/
/* Body element */
body {
  margin: 0;
  padding: 40px 0;
  font-family: 'Calibri', 'Tahoma', sans-serif;
  background-color: #ffffff;
}
/*******************/
/** Page elements **/
/*******************/
/** Drag container **/
.container {
  min-width: 1170px;
  /** Success message **/
  /** Dots container **/
  /** Logo container **/
}
.container .alert-success {
  display: none;
}
.container .img-src-container {
  margin: 20px auto;
}
.container .img-src-container .logo-dot {
  z-index: 10;
  margin: 10px;
}
.container .img-dest-container {
  position: relative;
  /** Drop targets **/
  /** Drop target hover classes **/
}
.container .img-dest-container .dest-dot {
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: 5;
  background-color: transparent;
  /*border: 1px solid red;*/
}
.container .img-dest-container .dest-dot[data-dot-color='black'][data-color-index='1'] {
  left: 315px;
  top: 190px;
}
.container .img-dest-container .dest-dot[data-dot-color='blue'] {
  left: 543px;
  top: 45px;
}
.container .img-dest-container .dest-dot[data-dot-color='red'] {
  left: 723px;
  top: 70px;
}
.container .img-dest-container .dest-dot[data-dot-color='black'][data-color-index='2'] {
  left: 688px;
  top: 285px;
}
.container .img-dest-container .dest-dot[data-dot-color='green'] {
  left: 411px;
  top: 333px;
}
.container .img-dest-container .hover-target-good {
  /*background-color: @green;*/
  background-image: url("../../img/valid.png");
}
.container .img-dest-container .hover-target-bad {
  /*background-color: @red;*/
  background-image: url("../../img/invalid.png");
}
.container .img-dest-container .hover-target-none {
  background-color: transparent;
}
/** Buttons container **/
.logo-buttons {
  margin: 10px 0;
}
