/** LESS variables file **/
/**************/
/* Typography */
/**************/
/**********/
/* Colors */
/**********/
/*******************/
/* Global elements */
/*******************/
/** Body element **/
body {
  margin: 0;
  padding: 15px 0;
  font-family: 'Calibri', 'Tahoma', sans-serif;
  background-color: #ffffff;
}
/*******************/
/** Page elements **/
/*******************/
/** Success message **/
.alert-success {
  display: none;
}
/** Drag container **/
.drag-container {
  margin: 0 auto;
  width: 600px;
  /** Dots container **/
  /** Logo container **/
}
.drag-container .img-src-container {
  margin: 20px auto;
}
.drag-container .img-src-container .logo-dot {
  z-index: 10;
  margin: 10px;
}
.drag-container .img-dest-container {
  position: relative;
  /** Drop targets **/
  /** Drop target hover classes **/
}
.drag-container .img-dest-container .dest-dot {
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: 5;
  background-color: transparent;
  /*border: 1px solid red;*/
}
.drag-container .img-dest-container .dest-dot[data-dot-color='black'][data-color-index='1'] {
  left: 45px;
  top: 190px;
}
.drag-container .img-dest-container .dest-dot[data-dot-color='blue'] {
  left: 274px;
  top: 45px;
}
.drag-container .img-dest-container .dest-dot[data-dot-color='red'] {
  left: 454px;
  top: 70px;
}
.drag-container .img-dest-container .dest-dot[data-dot-color='black'][data-color-index='2'] {
  left: 418px;
  top: 285px;
}
.drag-container .img-dest-container .dest-dot[data-dot-color='green'] {
  left: 142px;
  top: 333px;
}
.drag-container .img-dest-container .hover-target-good {
  background-image: url("../../img/valid.png");
}
.drag-container .img-dest-container .hover-target-bad {
  background-image: url("../../img/invalid.png");
}
.drag-container .img-dest-container .hover-target-none {
  background-color: transparent;
}
/** Buttons container **/
.logo-buttons {
  margin: 10px 0;
}
